
body {
 font-family: Arial, sans-serif;
 margin: 0;
 padding: 0;
}

header {
 background-color: #da1a1a;
 padding: 20px;
 text-align: center;
}

main {
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 20px;
}

.missao {
 background-color: #d30707;
 padding: 20px;
 border: 1px solid #cf4343;
}

footer {
 background-color: #c96464;
 padding: 10px;
 text-align: center;
}quiz {
    background-color: #b90606;
    padding: 20px;
    border: 1px solid #b45858;
   }
   
   .quiz label {
    display: block;
    margin-bottom: 10px;
   }
   
   .quiz input[type="radio"] {
    margin-right: 10px;
   }
   
   .quiz button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   }
   
   .quiz button:hover {
    background-color: #3e8e41;
   }
   
   